.bak
*.o
*.lo
*.la
*.obj
*.log
*.old
*.trs
lib*.a
lib*.so
lib*.dylib
*.*~
Makefile*
*.m4
compile
config*
depcomp
install-sh
missing
stamp-h1
.deps
.libs
autom4te.cache
ltmain.sh
libtool
test-driver
dvb_builder
html
.dockerignore
docker/*
m4/*
tests/*
src/*
DOXYFILE
