.bak
*.o
*.lo
*.obj
*.log
lib*.a
lib*.so
lib*.dylib
*.*~
Makefile
Makefile.in
aclocal.m4
compile
config.sub
config.guess
config.h
config.h.in
config.status
configure
configure.lineno
depcomp
install-sh
missing
stamp-h1
.deps
autom4te.cache
ltmain.sh
sigentest