.bak
*.o
*.lo
*.la
*.obj
*.log
*.old
*.trs
lib*.a
lib*.so
lib*.dylib
*.*~
Makefile
Makefile.in
aclocal.m4
compile
config.sub
config.guess
config.h
config.h.in
config.status
configure
configure.lineno
depcomp
install-sh
missing
stamp-h1
.deps
.libs
autom4te.cache
ltmain.sh
libtool
test-driver
dvb_builder
html
